/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/TPLK004-service/.env
/TPLK004-service/.venv
/TPLK004-service/__pycache__
/TPLK004-service/dataset
/TPLK004-service/train
/TPLK004-service/runs
/tplk004-hosting.zip
/zip1wa3O

# Local Netlify folder
.netlify
